.switchbutton {
  padding: 5px 10px;
  background-color: rgb(101, 110, 101);
  color: aliceblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10x;
}

.fullscreenbutton {
  padding: 5px 10px;
  background-color: rgb(69, 69, 128);
  color: aliceblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.showtablebutton {
  padding: 5px 10px;
  background-color: rgb(104, 104, 159);
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}


.tablecontent {
  width: 80%; /* Adjust width as needed */
  max-width: 800px; /* Optional: Restrict maximum width */
  border-collapse: collapse;
}

.tablecontent th,
.tablecontent td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tablecontent th {
  background-color: #f4f4f4;
}

